<?xml version="1.0" encoding="UTF-8"?>
<settings>

 <profiles>
   <profile>
     <id>repository</id>
     <repositories>
		<repository>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
			<id>bintray-epam-reportportal</id>
			<name>bintray</name>
			<url>http://dl.bintray.com/epam/reportportal</url>
		</repository>
     </repositories>
   </profile>
 </profiles>
 
 <activeProfiles>
   <activeProfile>repository</activeProfile>
 </activeProfiles>

</settings>